:root {
  --bg-dark: #121214;         /* Grafito profundo */
  --emerald-gem: #097969;     /* Verde esmeralda */
  --sapphire-gem: #0f52ba;    /* Azul zafiro */
  --ruby-gem: #e0115f;        /* Rojo rubí */
  --accent-highlight: #ffffff;/* Blanco puro */
}
