@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247,241,233);
    color: #111111;
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.6;
}
a {
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    padding: 8px 0;
    border-bottom: 10px solid transparent;
    transition: all 0.3s ease;
}
.header-container{
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #0a0a19;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.logo {
    text-align: center;
}

.logo-lema {
    width: 180px;
    height: auto;
    margin-bottom: 5px;
}
.logo-lema h3{
    color: #888888;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px ;
}
nav {
  position: sticky;
  font-weight: bold;
  padding: 5px 0;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.menu{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: inherit; 
    padding: 20px;
    gap: 25px;
}
.menu a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;
    color: #fbfbfb;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}
.menu button {
    background: none;       
    border: none;           
    padding: 0;             
    margin: 0 15px;         
    cursor: pointer;        
}
a:hover {
    color: rgb(247,241,233);
}
footer{
    background-color: rgb(13, 14, 13);
    color: #5a5959;
    font-family: 'Syne', sans-serif;
}
.menu a:hover {
    color: rgb(247,241,233);
    border-bottom: 2px solid #dbbf91;
}
.carousel-item a:hover img{
    filter: brightness(80%); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.contenedor-productos {
    padding: 50px;
    margin: 0 15px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 600px;
}
.img-card {
    width: 100%;
  height: 65%;
  object-fit: cover;    
  object-position: center;
}
