body {
    background: #ffffff;
    color: #fae6e6;       
    font-family: 'Georgia', 'Times New Roman', serif; 
    text-align: center;   
}
header {
    background: #277c85; /*DEFINIR UN COLOR*/
} 
nav {
    display: block;       
    text-align: center;
}
button {
    background: #ffffff;    /*definir*/
    color: #121212;
    font-family: 'Arial', sans-serif;
    display: inline-block;
}
nav button a {
    color: #121212;
    display: block;       /*hace que todo el botón sea clickeable*/
}
nav button:hover {
    background: #e5e5e5;  /*el botón cambia el color al pasar el mouse*/
}
article p strong {
    color: #ebdd41;         
    font-family: 'Arial', sans-serif;
}
strong {
    color: #ebdd41;
}
fieldset {
    background: #ffffff;  
    color: #747070;
}
footer {
    background: #277c85;  /*Definir*/
    color: #ebdd41;          /*Definir*/
    text-align: center;     
}
footer h3::first-line {
    color: #ebdd41;       /*la 1ra linea de los titulos del footer sera dorada*/
}
footer a {
    color: #ebdd41;
}
footer a:visited {
    color: #ffffff;       /*deja los links visitados en color blanco*/
}
