body{
    background-color: rgb(248, 247, 244);
}
footer{
    background-color:  #0b0f0f;
}
nav{
    background-color:  #0b0f0f;
}
header{
    background-color:#277c85;
}

article{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:40px;
}

.caja{
    width:48%;
    background:#277c85;
    border:2px solid transparent;
    border-radius:10px;
    padding:20px;
    box-shadow:2px 2px 10px gray;
}

.caja input[type="text"],
.caja input[type="email"],
.caja input[type="password"]{
    width:250px;
    padding:8px;
}

.caja input[type="submit"]{
    background:rgb(84, 136, 179);
    border:none;
    padding:10px 20px;
    font-weight:bold;
    cursor:pointer;
}

.caja h1{
    color:#0e0e0c;
}

.caja label {
    color: rgb(3, 3, 3);
}

/* 1. Cambia el color del texto general del footer (títulos, párrafos, horarios) */
footer {
    color: rgb(253, 248, 248); /* Blanco roto suave */
}

/* 2. Cambia el color de todos los enlaces/links del footer (Mi cuenta, Tienda, Redes Sociales) */
footer a {
    color: rgb(197, 160, 89); /* Dorado champagne elegante */
    text-decoration: none;    /* Opcional: quita la línea de subrayado si no te gusta */
}

/* 3. Opcional: Cambia el color del enlace cuando pasas el mouse por encima */
footer a:hover {
    color: rgb(255, 255, 255); /* Se vuelve blanco al pasar el cursor */
    text-decoration: underline; /* Se subraya al pasar el cursor */
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}